# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.env/
.venv/

# macOS files
.DS_Store

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# IDE / Editor
.vscode/
.idea/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Local configs
*.env.local
*.secret
